# Ignore Visual Studio temporary files, build results, and
# user-specific files

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

## Visual Studio folders
.vs/
.vscode/

## NuGet packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
!**/packages/repositories.config

## Microsoft Azure Web Apps
PublishProfiles/

## Logs
*.log

## Other
*.cache
*.dbmdl
*.bak
*.Backup
*.tmp
*.bak
*.old
